{{#if user}}
    <div class="padre">
        <h2>Datos personales</h2>
            <div class="tabla">
                <div class="perfilPadre">
                    <div class="titulo">
                        <div class="user">
                                <h2 class="mail">Bienvenido {{user.nombre}}</h2>
                                <button onclick="location.href='/logout'" class="userBtn">Cerrar sesión</button>
                        </div>
                    </div>
                    <div class="card">
                        <h3>Apellido: {{user.apellido}}</h3>
                        <h3>Email: {{user.email}}</h3>
                        <h3>Dni: {{user.dni}}</h3>
                    </div>
                </div>
            </div>
        </div>
{{else}}
    <div class="ordenBotones">
        <h2 class="noHay">No hay datos</h2>       
    </div>
{{/if}}
