{{#if productos}}
    <div class="padre">
        <h2>Productos disponibles</h2>
            <div class="productos">
                {{#each productos}}
                    <div class="card">
                        <h3>{{this.nombre}}</h3>
                        <a href="/productos/{{this.id}}">
                            <img class="imgCarrito" src="{{this.url}}" alt="{{this.nombre}}">
                        </a>
                        <h3>Precio: ${{this.precio}}</h3>
                        <form action="/api/{{this.id}}/productos" method="post">
                            <button type="submit" class="userBtn">Agregar al carrito</button>
                        </form>
                    </div>
                {{/each}}
            </div>
        </div>
{{else}}
    <div class="ordenBotones">
        <h2 class="noHay">No hay productos</h2>       
    </div>
{{/if}}
